<h1 class="current-category"><%= params[:category]%></h1>

<% if @books.count == 0 %>
  <h1>Momentálne sa v danej kategórií nenachádzajú žiadne knihy</h1>

<% else %>

<div class = "row">
    <% @books.each do |book| %>
        <div class="col-md-3">
      <a href="/books/<%= book.id %>">
        <%= image_tag book.avatar.url(:medium), class: "book" %>
      </a>
    </div>
<% end %>
</div>

    <% end %>
